body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  perspective: 1000px;
}


@keyframes rgb-glow {
  0% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
  }
  33% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
  }
  66% {
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
  }
}

.booster-pack {
  width: 400px;
  height: 550px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  animation: rgb-glow 3s infinite linear;
  border-radius: 16px;
}


.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.5);
}

.front {
  background-image: url('../assets/images/booster-front.png');
}

.back {
  background-image: url('../assets/images/booster-back.png');
  transform: rotateY(180deg);
}

